*{
    padding: 0;
    margin: 0;
}
/* ========menu-top first-piece- start*/
.container-top{
    margin-top: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
}

.logo{
    width: 100px;
    height: 32px;
    margin-right: 50px;
}
.search{
    display: flex;
    width: 540px;
    height: 40px;
}
.search .icon{
    border: 1px solid gray;
    font-size: 15px;
    padding: 9.5px 0px;
    width: 5%;
    margin-left: 5px;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
    border-right: none;
}
.search input{
    width: 90%;
    font-size: 15px;
    padding: 6.5px 0px;
    border: 1px solid gray;
    border-left: none;
    border-radius: 0px 3px 3px 0px;
}
.sign{
    display: flex;
    align-items: center;
    height: 40px;
    width: 200px;
}
.sign .first{
    font-size: 30px;
    margin-right: 9px;
}
.sign .second{
    margin-left: 9px;
}
/* ============End-1====== */
/* menu-second-start */
 .menu-second{
    Background-Color:rgb(248, 248, 248);
    
}
.level-1{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}
.level-1 > li{
    margin: 17px 10px;
    
}
.level-1 > li:hover{
    background-color: greenyellow;
    
}
.level-1 > li > a{
    text-transform: uppercase;
    Font: 17px Roboto, sans-serif;
    text-decoration: none;
    color: #92929d;
    transition: all 0.6s;
}
.level-1 > li > a:hover{
    text-decoration: underline;
    Color:rgb(110, 85, 180);
}
/* ===============leve2================= */
.level-1 .mom{
    position: relative;
    z-index: 100;
}
.level-2{
    Background-Color:rgb(248, 248, 248);
    position: absolute;
    left: -15px;
    top: 40px;
    height: 80px;
    width: 440px;
    display: flex;
    padding: 10px 15px 0px 15px;
    visibility: hidden;
    transition-delay: 0.2s;

}

.level-2 > li{
    list-style: none;
    margin: 5px  15px 0px 0px;
    font-size: 10px;
    
}

.level-1 .mom:hover  .level-2   { 
    visibility: visible;
}

.level-2 > li > a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}
.level-2 > li:hover > a{
    text-decoration: underline;
    background-color: aquamarine;

}
/* level-3 */
.level-3 li {
    font-size: 15px;
    list-style: none;
    padding-top: 5px;
}
.level-3 li:hover  a{
    background-color: grey;
}

.level-3 li a{
    text-decoration: none;
}
/* menu-second-end */
/* =======================picture-cover - start============= */
/* =====main======= */
.picture{
    z-index: 99;
    width: 1025px;
    height: 344px;
    border: 1px solid gray;
    box-sizing: border-box;
    margin: 0px auto;
    position: relative;
}
.picture img{

}
/* =========button=========== */
.picture .button{
    height: 60px;
    width: 40px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    border-radius: 3px;
}
/* =============left=========== */
.picture .left{
    position: absolute;
    top: 142px;
    left: 0px;

}.picture:hover .left{
    background-color: rgb(144, 211, 202);
}
.picture .left:hover i{
    color: white;
}
/* ==========right=============== */
.picture .right{
    position: absolute;
    top: 142px;
    right: 0px;

}
.picture:hover .right{
    background-color: rgb(144, 211, 202);
}
.picture .right:hover i{
    color: white;
}
/* =======================picture-cover - end============= */
/* ============cover-zing-chart-start ============= */
.p-chart{
    margin: 30px auto;
    width: 1024px;
    height: 344px;
    padding-bottom: 30px;
}
.p-chart .chartbox {
    margin: 0px auto;
    height: 400px;
    width: 930px;
    display: flex;

}

/* ============---- */
.p-chart .right {
    background-color: #594975;
    padding: 15px 15px;

}
.p-chart .right .cover-right{
    margin: 10px 0px 0px 0px;
    border-radius: 3px;
    width: 252px;
    display: flex;
    align-items: center;
}
.p-chart .right .cover-right:hover {
    background-color: rgba(250, 27, 250, 0.212);
    border-radius: 5px;

}
.p-chart .right .number{
    margin: 0px 15px 0px 10px;
    font-size: 20px;
    color: white ;
    box-sizing: border-box;
}
.p-chart .right img{
    font-size: 20px;
}
.p-chart .right .between {
    color: white ;
    font: 20px arial ;
    width: 100px;
    padding-left: 20px;
    flex-grow: 1;
    box-sizing: border-box;
}
.p-chart .right .between .top{
    font-size: 13px;
}
.p-chart .right .between .bottom{
    font-size: 12px;
}
.p-chart .right .percent{
    color: white;
}

/* ============cover-zing-chart-end ============= */
/* <!-- ==============#Zingchart-week-start========= --> */
.zingchart-week{
    width: 930px;
    height: 1800px;
    margin: 0px auto;
}
.zingchart-week .container{
    margin-top: 30px;
    display: flex;
}
.zingchart-week .container i{
    font-size: 25px;
    padding: 0px 10px;
}
 /* <!-- ==============#clear-fix-start========= --> */
 .container-picture{
     display: flex;
 }
.container-picture .first-picture{
    height: 116px;
    width: 216px;
    margin-top: 25px;
    padding-right: 20px;
}
 /* <!-- ==============#zingchart-top100========= --> */
 .main-flex{
     display: flex;
     width: 930px;
 }
 .padding{
     margin-left: 12px;
     margin-right: 10px;
 }
 .container-top100{ 
     margin-top: 20px;
     height: 247px;
     width: 210px;
     transition: 0.7s;
     background: url(file:///D:/MasterCss/zingvn/images/210x247.png) left top no-repeat ;

 }
 .container-top100:hover{
     transform: scale(0.8);
 }
  .container-top100 .overlay{ 
    font-size: 70px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 0.4s;
    padding-right: 10px;
}
 .container-top100 .hover{
     font-size: 70px;
 }
 .container-top100 h4{
     margin-top: 15px;
 }
 .wrapper .overlay:hover{
    opacity: 1; 
    color: white; 
}
.wrapper:hover .overlay i{
    transform: scale(1);  
}
.wrapper .overlay i{
    font-size: 60px;
    color: white;
}
/* ===============main-flex2========================== */
 /* <!-- ==============#zingchart-top100========= --> */
 .main-flex-2{
    display: flex;
    width: 1024px;
    margin-top: 50px;
}
.padding-2{
    margin-left: 12px;
    margin-right: 10px;
}
.container-top100-2{ 

    height: 247px;
    width: 210px;
    transition: 0.7s;
    background: url(file:///D:/MasterCss/zingvn/images/210x247.png) left top no-repeat ;

}
.container-top100-2:hover{
    transform: scale(0.8);
}
 .container-top100-2 .overlay-2{ 
   font-size: 70px;
   height: 100%;
   align-items: center;
   display: flex;
   justify-content: center;
   opacity: 0;
   transition: 0.4s;
   padding-right: 10px;
}
.container-top100-2 .hover{
    font-size: 70px;
}
.container-top100-2 h4{
    margin-top: 15px;
}
.wrapper .overlay-2:hover{
   opacity: 1; 
   color: white; 
}
.wrapper:hover .overlay-2 i{
   transform: scale(1);  
}
.wrapper .overlay-2 i{
   font-size: 60px;
   color: white;
}
/* ===========newSong-container===== */
.newsong-container{
    height: 382px;
    margin-top: 60px;
    border-top: 1px solid gray;
}
.word-container{
    display: flex;
    
}
.newsong-container .word{
   margin: 25px 720px 0px 0px;
}
.newsong-container  .small-word{
  margin-top: 25px;
  background-color: #594975;
  color: white;

}
.newsong-container  .small-word:hover{
    background-color: aqua;
    color: black;
}
.box-container{
    display: flex;
    margin-top: 20px;
}
/* ===============content-left========== */
.left-container{
    border-right: 1px solid gray;
    height: 275px;
    width: 480px;
    padding: 0px 10px;
}
.right-container{
    height: 275px;
    width: 480px;
   
}
.content-left{
    display: flex;
    align-items: center;
    padding: 15px 10px;
}
.content-left:hover{
    background-color: #efefef;
}
.picture-left{
    padding-right: 15px;
    background-color: aquamarine;
    height: 40px;
    width: 40px; 
    background: url(file:///D:/MasterCss/zingvn/images/40x40.png) left top no-repeat ;
}
.picture-left img{
    padding: 9px 9px;
    display: none;
}
.content-left:hover .picture-left img{
    display: block;
}
.picture-right img{
    padding: 9px 9px;
    display: none;
}
.content-right:hover .picture-right img{
    display: block;
}
.word-center{
    flex-grow: 1;
}
.symbol-right{
    background: url(file:///D:/MasterCss/zingvn/images/symbol-icon.png) left top no-repeat ;
    height: 20px;
    width: 60px;
    opacity: 0;
   
}
.content-left:hover .symbol-right{
    opacity: 1;
}
/* ===============content-right========== */
.right-container{
    height: 275px;
    width: 480px;
    padding: 0px 10px;
}
.right-container{
    height: 275px;
    width: 480px;
   
}
.content-right{
    display: flex;
    align-items: center;
    padding: 15px 10px;
}
.content-right:hover{
    background-color: #efefef;
}
.picture-right{
    padding-right: 15px;
    background-color: aquamarine;
    height: 40px;
    width: 40px; 
    background: url(file:///D:/MasterCss/zingvn/images/40x40.png) left top no-repeat ;
}
.word-center{
    flex-grow: 1;
}
.symbol-right{
    height: 20px;
    width: 60px;
    opacity: 0;
   
}
.content-right:hover .symbol-right{
    opacity: 1;
}
/* ===============subject-top============ */
.subject-container{
    height: 330px;
}
.subject-top{
    display: flex;
    align-items: center;
}
.subject-top h3{
    flex-grow: 1;
}
.subject-top h4{
    margin-right: 40px;
}
.subject-below .subject-picture{
    float: left;
    background: url(file:///D:/MasterCss/zingvn/images/210x118.png) left top no-repeat ;
    height: 118px;
    width: 210px;
    margin: 10px 10px;
    border-radius: 5px;
    transition: 0.7s;
}
.subject-below .subject-picture:hover{
    transform: scale(0.95);
    

}
.subject-below .subject-picture h3{
    color: #efefef;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 0.6s;
}
.subject-below .subject-picture h3:hover{
    color: #594975;
    font-size: 25px;
    height: 80%;
  
}
.subject-below .subject-picture:after {
    content: "";
    clear: both;
}
/* ========ablum-hot-word================= */
.album-hot-container{
    height: 500px;
}
.ablum-hot-word{
    display: flex;
    align-items: center;
}
.ablum-hot-word h1{
    flex-grow: 1;
}
.ablum-hot-word h3{
    margin-right: 20px;
}
/* ========ablum-hot-picture-hover================= */
.ablum-hot-picture{
    float: left;
}
.ablum-hot-picture::after{
    content: "";
    clear: both;
}
.picture-hover{
    background: url(file:///D:/MasterCss/zingvn/images/210x210.png) left top no-repeat ;
    height: 210px;
    width: 210px;
    margin: 25px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.picture-hover i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 70px;
    opacity: 0;
    color: white;
}
.picture-hover i:hover{
    opacity: 1;
}
.ablum-hot-picture h3, .ablum-hot-picture h5{
    text-align: center;
}